$primary-color: #18A19A;
$secondary-color: #0A625C;
$type-color: #71655D;
$main-typeface: 'Lato', 'Helvetica', 'Sans Serif';

.shell {
  margin: 0 auto;
  width: 80%;
}

.barback, .setrange {
  height: 15px;
}

.setrange, .target {
  border-radius: 12px;
}

.barback {
  background-color: #5CDBD5;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
}

.setrange {
  background-color: #18A19A;
  margin-left: 22%;
  width: 47%;
}

.target {
  background-color: #EE5876;
  height: 24px;
  margin-left: 33%;
  margin-top: -20px;
  width: 24px;
  text-align: center;
}

/*MENU BAR*/

#top-bar-override, .contain-to-grid {
  background: $primary-color;
  .top-bar {
    background: $primary-color;
    h1 a {
      font: $main-typeface;
      font-weight: 300;
    }
    ul { 
      background: $primary-color;
    }
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $primary-color;
  font-family: $main-typeface;
  font-weight: 300;
  &:hover {
    background:darken( $primary-color, 15% );
  }
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: $primary-color;
  &:hover {
    background:darken( $primary-color, 15% );
  }
}

/*IMAGES*/

img.profile-photo {
  border: 3px solid $white;
  float: left;
  margin: 15px; 
}

img.pink-alert {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

img.care-team {
  border-radius:50%;
  border: 1px solid $white;
  display:inline-block;
  box-shadow: 0 2px 3px #71655D;
  float: left;
  margin-right: 20px; 
}

img.profile-photo {
  border-radius:50%;
  border: 3px solid $white;
  display:inline-block;
  box-shadow: 0 2px 3px #71655D;
  float: left;
  margin: 10px 20px 15px 15px; 
}

/*UL*/

ul.alert, ul.messages, ul.messages-preview, ul.glucose-list {
  list-style-type: none;
  li {
    display: inline;
  }
}

ul.alert {
  margin-left: 0px;
  margin-bottom: 5px;
  li.float-right {
    float: right;
  }
  h5 {
    color: #EE5876;
    font-weight: 500;
    float: left;
  }
  .care-team-button {
    border: 1px solid #EE5876;
    padding: 4px 15px;
    border-radius: 3px;
    font-size: .8em
  }
  a.care-team-button{
    color: #EE5876;
  }
}

ul.messages {
  margin-top: 2.5rem;
}

ul.messages-preview, ul.glucose-list {
  li {
    padding-right: 20px;
    font-family: $main-typeface; 
    font-weight: 300; 
    color: $type-color;
    font-size: .8rem;
  }
  a {
    color: $type-color;
  }
}

ul.glucose-list {
  margin-bottom: 0px;
  margin-left: 0px;
}

ul.glucose-list-acc {
  border-top: 1px;
  border-color: #A79C95;
  margin-left: 0px;
}

ul.messages-preview {
  margin: 2.5rem, 0rem, 1.5rem, 0rem;
}

/*TYPE*/

h1 {
  font: 1.2em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: .8rem;
}

h1.top-header {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

h2, h3, h4 {
  text-align: center;
}

h5 {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
  text-align: left;
}

h5.profile {
  margin-left: 15px;
  margin-bottom: 5px;
}

h6, .panel h6 {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 100;
  text-align: left;
  line-height: 1rem;
  margin-bottom: 1.3rem;
}

.panel h2 {
  font: 4em $main-typeface;
  color: #0A625C;
  font-weight: 300; 
}

h3, .panel h3, .panel-appts h3 {
  font: 1em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: .2em;
}

h3.email-text{
  text-transform: capitalize;
  text-align: left;
  font-weight: 300;
  padding-top: .8rem;
}

.panel h4, .panel-appts h4  {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
}

.panel-appts h4 {
  text-align:left;
}

h3.text-align-left {
  text-align: left;
  font-weight: 300;
}

h3.header {
  margin-top:1rem;
  margin-bottom:1rem;
}

h3.no-margin{
  margin-bottom: .3rem;
  padding-top: 1.8rem;
}

.italic-date, footer p {
  font-style: italic;
  font-weight: 100;
  color: $type-color;
  font-size: .7em;
  line-height: .6em;
  td {
    padding-right: 10px;
  } 
}

h2.exercise {
  position: relative;
  top:-90px;
  text-align: center;
  margin:0 auto;
  display:block;
  height:0;
  font-size: 3rem;
}

span.float-right {
  display:inline-block;
  float: right;
  text-transform: capitalize;
}

label.label-header {
  font: .8em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  line-height: 2.5;
  font-weight: 300;
}

p, .panel p {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
  line-height: 1.3rem;
}


/*STRUCTURE*/

body {
  font-family: $main-typeface;
  background-color: #EFEDEA;
}

.panel, .panel-appts {
  background-color: #FFF;
  border-color: #A79C95;
  border: 2px;
  border-radius: 3px;
}

.panel-appts {
  height: 340px;
  margin-top: 2.5rem;
}

.synced-apps {
  height:160px;
  h5 {
    margin-bottom: .3rem;
    color: #71655D;
  }
  h5.italic-date {
    margin-bottom: .7rem;
  }
  h5.pink {
    color: #EE5876;
  }   
}

.exercise-panel {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

.care-plan {
  height:230px;
  h3.small-header {
    text-transform: none;
    text-align: left;
    font-weight: 300;
    margin: -4px 0px 12px 48px;
    font-style: italic;
    font-size: .8rem;
  }
  img {
    float: left;
    margin-right: 8px;
    margin-top: 0px;
    height: 40px;
    width: 40px;
  }
}

.left-column {
  padding-left: 0rem;
  padding-right: .7rem;
}

.right-column {
  padding-left: .7rem;
  padding-right: 0rem;
}
.exercise-column, .food-column {
  padding-left: .7rem;
}

.food-column {
  padding-right: .7rem;
}

.glucose-column {
  padding-left: 0rem;
}

.glucose-weekly-column {
  padding-left: .7rem;
  padding-right: .7rem;
}

.messages-column {
  padding-left: 15px;
  padding-right: .7rem;
}

.care-team-names {
  margin-bottom: 1.2rem;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.glucose-left-column {
  padding-left: 0px;
}

.glucose-right-column {
  padding-right: 0px;
}


.left {
  display: table-cell;
  vertical-align: middle;
}

.right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.comments-glucose-levels {
  padding-left: 15px; 
  padding-right: 15px;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  p {
    line-height: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

hr {
  margin: 15px;
  border-color: #A79C95;
}

/*BUTTONS*/

.email-button {
  float: right;
}

a.tiny.button, a.small.button.radius, .dropdown.button.tiny, button.dropdown.tiny {
  background-color: $primary-color;
  color: #fff;
  font-family: $main-typeface;
  font-weight: 300;
}

a.tiny.button:hover, a.small.button:hover, .dropdown.button.tiny:hover {
  background-color: $secondary-color;
  color: #fff;
}

a.small.button.radius {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

a.button.expand {
  background-color: #FFF;
  color: #18A19A;
  border-radius: 3px;
  font: .8em $main-typeface;
  font-weight: 500;
  text-transform: uppercase;
}

a.button.expand:hover {
  background: rgba(113,101,93, 0.1);
  border-radius: 3px;
}

.button-bar .button-group {
  float: right;
}

.view-details-button, .view-details-button-profile {
  float:right; 
  border: 1px solid #A79C95;
  padding: 4px 10px;
  border-radius: 3px;
  font-size: .8em
}

.view-details-button{
  margin: 10px 0px 10px 5px;
}

.view-details-button-profile {
  margin: 8px 15px 15px 8px;
  width: 40px;
  text-align: center;
}

a.view-details-button, a.view-details-button-profile {
  color:$type-color;
}

.glucose-acc-button {
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.care-team-button {
  border: 1px solid #A79C95;
  padding: 4px 10px;
  border-radius: 3px;
  font-size: .8em
}

a.care-team-button {
  color:$type-color;
  font-weight: 300;
}

.switch input:checked + label {
  background: #18A19A;
}

.switch label {
  background: rgba(113,101,93,0.3);
}

.messages-button {
  border: 1px solid #A79C95;
  padding: 6px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: .8em
}

.postfix.button {
  background-color: $primary-color;
  color: #fff;
  font-family: $main-typeface;
  font-size: .8rem;
  font-weight: 300;
  text-transform: none;
  &:hover {
  background: darken($primary-color, 15%)
  }
}

textarea.compose-message {
  height: 200px;
}

.compose-message-button {
  margin-left: 15px;
}

/*TABLE*/

table.messages-preview, table.appts, table.messages-panel {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
    tr th, tr td, thead tr th, tbody tr th, tbody tr td, table tr td {
      font-family: $main-typeface; 
      font-weight: 300; 
      color: $type-color;
      padding: 0px;  
    }
    tr, th {
      border: 1px solid #A79C95;
    }
}

table.accordion-glucose, table.meal-log {
  border-collapse: collapse;
  border-style: solid none none none;
  width: 100%;
  margin-bottom: 0px;
  margin-left: 0px;
    tr th, tr td, thead tr th, tbody tr th, tbody tr td, table tr td {
      font-family: $main-typeface; 
      font-weight: 300; 
      color: $type-color;
      padding: 0px;  
    }
    tr, th {
      top-border: 1px solid #A79C95;
    }
}

table.meal-log {
  tr th, tr td, thead tr th, tbody tr th, tbody tr td, table tr td {
    font-size: .8rem;
  }
  tr, th {
      border-top: 1px solid #A79C95;
      border-bottom: 1px solid #A79C95;
    }
}

table.appts tbody tr.even, table.appts tbody tr.alt, table.messages-preview tbody tr.even, table.meal-log tbody tr.alt, table.messages-panel tbody tr.alt  {
  background: #FFF
}

table.appts tbody tr:nth-child(even), table.messages-preview tbody tr:nth-child(even), table.meal-log tbody tr:nth-child(even), table.messages-panel tbody tr:nth-child(even)   { 
  background: #FFF; 
}

table.messages-preview tr td, table.messages-panel tr td {
  padding-top: .8rem;
  padding-right: 2.7rem;
  padding-bottom: .8rem;
  font-size: .8rem;
}

.messages-preview {
  height: 228px;
  tr:hover, tr.even:hover { 
   background: rgba(113,101,93, 0.1); 
  }
  td a { 
   display: block; 
   color: $type-color;
  }
}

.messages-panel {
  height: 400px;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  font-family: $main-typeface;
  background: #FFF;
  font-size: .8rem;
  font-weight: 300;
  color: $type-color;
  padding: 0px;
}

.accordion .accordion-navigation.active > a, {
  background: #FFF;
}

/*FORMS*/

select, input[type="text"], input[type="radio"] + label, textarea {
  border-color: rgba(113,101,93, 0.4);
  font-size: 0.8rem;
  background-color: #FFF;
  font-family: $main-typeface;
  font-weight: 300;
  color: #71655D;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.exercise {
  background-color: #FFF;
  font: .5em $main-typeface;
  border-color: #71655D;
  border-radius: 3px;
}

.f-dropdown {
  font-family: $main-typeface;
  font-weight: 300; 
  color: $type-color;
  font-size: .8rem;
}

