$primary-color: #18A19A;
$secondary-color: #0A625C;
$type-color: #71655D;
$main-typeface: 'Lato', 'Helvetica', 'Sans Serif';

.shell {
  margin: 0 auto;
  width: 80%;
}

.barback {
  background-color: #5CDBD5;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 15px;
  width: 100%;
  border-radius: 10px;
}

.setrange {
  background-color: #18A19A;
  border-radius: 12px;
  height: 15px;
  margin-left: 22%;
  width: 47%;
}

.target {
  background-color: #EE5876;
  border-radius: 12px;
  height: 24px;
  margin-left: 33%;
  margin-top: -20px;
  width: 24px;
  text-align: center;
}


body {
    background-color: #EFEDEA;
}

#top-bar-override .contain-to-grid, .top-bar {
  background-color: $primary-color;
} 

.top-bar-section ul li {
  background: $primary-color;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $primary-color;
}

h1 {
  font: 1.2em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 300; 
  margin-top: 1rem;
}

h1#top-header {
  margin-top: 3rem;
}

.panel h2 {
  font: 4em $main-typeface;
  color: #0A625C;
  font-weight: 300; 
}

h2, h3, h4 {
  text-align: center;
}

.panel h3 {
  font: 1em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: .2em;
}

.panel h4 {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
}

.panel {
  background-color: #FFF;
  border-color: #A79C95;
  border: 2px;
  border-radius: 3px;
}

button, .button {
  background-color: #FFF;
  font: .2em $main-typeface;
  color: #71655D;
  border-width: 1px 0px 1px 1px;
}

a.tiny.button.radius {
  border-color: #A79C95;
}

button.group.radius {
  border-color: #A79C95;
} 

.button-bar .button-group {
  float: right;
}

.tiny.button.radius:hover{
  background-color: #EFEDEA;
  color: #71655D;
}

a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit;
}

table {
  font: $main-typeface; 
  border: 0px;
}

table tr th, table tr td {
  font: $main-typeface; 
  padding: .5rem, 1rem;
  color: $type-color;
}

tr {
  border: 1px solid #71655D;
}

canvas{
    width: 100% !important;
    height: auto !important;
}
