$primary-color: #18A19A;
$secondary-color: #0A625C;
$type-color: #71655D;
$main-typeface: 'Lato', 'Helvetica', 'Sans Serif';

.shell {
  margin: 0 auto;
  width: 80%;
}

.barback {
  background-color: #5CDBD5;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 15px;
  width: 100%;
  border-radius: 10px;
}

.setrange {
  background-color: #18A19A;
  border-radius: 12px;
  height: 15px;
  margin-left: 22%;
  width: 47%;
}

.target {
  background-color: #EE5876;
  border-radius: 12px;
  height: 24px;
  margin-left: 33%;
  margin-top: -20px;
  width: 24px;
  text-align: center;
}

/*MENU BAR*/

#top-bar-override, .contain-to-grid {
  background: $primary-color;
  .top-bar {
    background: $primary-color;
    h1 a {
      font: $main-typeface;
      font-weight: 300;
    }
  ul { 
      background: $primary-color;
    }
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $primary-color;
  font-family: $main-typeface;
  font-weight: 300;
  &:hover {
    background:darken( $primary-color, 15% );
  }
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: $primary-color;
  &:hover {
    background:darken( $primary-color, 15% );
  }
}

ul.alert {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 5px;
  height: 35px;
  li {
    display: inline;
  }
  li.float-right {
    float: right;
    display: inline;
  }
  h5 {
    color: #71655D;
    float:left;
  }
}

ul.messages {
  list-style-type: none;
  margin-top: 2.5rem;
  li {
    display: inline;
  }
}

/*ul.messages-preview li {
  display: inline;
  padding-right: 20px;
}*/

/*TYPE*/

h1 {
  font: 1.2em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: .8rem;
}

h1.top-header {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.panel h2 {
  font: 4em $main-typeface;
  color: #0A625C;
  font-weight: 300; 
}

h2, h3, h4 {
  text-align: center;
}

h5 {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
  text-align: left;
}

.panel h3, .panel-appts h3 {
  font: 1em $main-typeface;
  color: $type-color;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: .2em;
}

.panel h4, .panel-appts h4  {
  font: .8em $main-typeface;
  color: $type-color;
  font-weight: 300;
}

.panel-appts h4 {
  text-align:left;
}

h3.text-align-left {
  text-align: left;
}

h3.header {
  margin-top:1.5rem;
  margin-bottom:1rem;
}

.italic-date {
  font-style: italic;
  font-weight: 100;
  font-size: .7em;
  line-height: .6em;
  td {
    padding-right: 10px;
  } 
}


/*STRUCTURE*/

body {
  font-family: $main-typeface;
  background-color: #EFEDEA;
}

.panel {
  background-color: #FFF;
  border-color: #A79C95;
  border: 2px;
  border-radius: 3px;
}

.panel-appts {
  background-color: #FFF;
  border-color: #A79C95;
  border: 2px;
  border-radius: 3px;
  height: 400px;
  margin-top: 2.5rem;
}

.synced-apps {
  height:175px;
}

.large-9.columns, .small-3.columns, .small-2.columns {
  padding-left: 0rem;
  padding-right: .7rem;
}

.large-3.columns, .small-9.columns {
  padding-left: .7rem;
  padding-right: 0rem;
}

.alert {
  background: rgba(238,88,118, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.care-team-names {
  margin-bottom: 1.2rem;
}

.left {
  display: table-cell;
  vertical-align: middle;
}

.right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

/*BUTTONS*/

a.tiny.button {
  background-color: $primary-color;
  color: #fff;
}

a.tiny.button:hover {
  background-color: $secondary-color;
  color: #fff;
}

a.button.expand {
  background-color: #FFF;
  color: #71655D;
  border-radius: 3px;
}

a.button.expand:hover {
  background: rgba(113,101,93, 0.1);
  border-radius: 3px;
}

.button-bar .button-group {
  float: right;
}

.view-details-button {
  float:right; 
  border: 1px solid #A79C95;
  padding: 4px 10px;
  margin: 10px 0px 10px 5px;
  border-radius: 3px;
  font-size: .8em
}

a.view-details-button {
  color:$type-color;
}

.care-team-button {
  border: 1px solid #A79C95;
  padding: 4px 10px;
/*  margin-bottom: 20px;*/
  border-radius: 3px;
  font-size: .8em
}

a.care-team-button {
  color:$type-color;
  font-weight: 300;
}

/*a.view-details-button:hover {
    color:#EE5876;
}*/

.switch input:checked + label {
  background: #18A19A;
}

.messages-button {
  border: 1px solid #A79C95;
  padding: 6px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: .8em
}

/*TABLE*/

table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
    tr th, tr td, thead tr th, tbody tr th, tbody tr td, table tr td {
      font-family: $main-typeface; 
      font-weight: 300; 
      color: $type-color;
      padding: 0px;  
    }
    tr, th {
      border: 1px solid #A79C95;
    }
}

table.appts tbody tr.even, table.appts tbody tr.alt {
  background: #FFF
}

table.appts tbody tr:nth-child(even) { 
  background: #FFF; 
}

/*TABS*/

.tabs.vertical {
  width: 50%;
  max-width: 50%;
}

.tabs .tab-title > a {
  font-family: $main-typeface; 
  font-weight: 300; 
  color: $type-color;
  font-size: .8rem;
}

ul.messages-preview {
  list-style-type: none;
  margin: 2.5rem, 0rem, 1.5rem, 0rem;
  li {
    display: inline;
    padding-right: 20px;
    font-family: $main-typeface; 
    font-weight: 300; 
    color: $type-color;
    font-size: .8rem;
  }
}

ul.glucose-list {
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  li {
    display: inline;
    padding-right: 20px;
    font-family: $main-typeface; 
    font-weight: 300; 
    color: $type-color;
    font-size: .8rem;
  }
}

$tabs-navigation-font-family: $main-typeface;
$tabs-vertical-navigation-margin-bottom: 1.25rem;

canvas {
  width: 100% !important;
  height: auto !important;
}

.exercise {
  background-color: #FFF;
  font: .5em $main-typeface;
  border-color: #71655D;
  border-radius: 3px;
}